@{
	bool isLoggedIn = Context.Session.TryGetValue("Token", out _);
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MVC</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" href="https://docs.microsoft.com/en-gb/aspnet/core/mvc/">MVC</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
								data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
								aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<div class="navbar-nav flex-grow-1">
						<a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

						@if (isLoggedIn)
						{
							<a class="btn btn-default" asp-area="" asp-controller="User" asp-action="Index">Users</a>
							<div class="spacer"></div>
							var url = Url.Action("Logout", "Account");
							<button class="btn btn-default" onclick="showConfirm('Logout', 'Are you sure?', '@url')">Logout</button>
						}
						else
						{
							<a class="btn btn-default" asp-area="" asp-controller="User" asp-action="Add">Register</a>
							<div class="spacer"></div>
							<a class="btn btn-default" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
						}

					</div>
				</div>
			</div>
		</nav>
	</header>

	<div class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<form id="frmConfirm" method="post">
						<button class="btn btn-light" data-dismiss="modal">No</button>
						<button type="submit" class="btn btn-primary">Yes</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2020 - MVC
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
