@{
	ViewData["Title"] = "Home Page";
}

<div class="container">
	<div class="row">
		<div class="col text-center">
			<a href="https://github.com/BtCellNet18/CRUD_MVC_Client">
				<img src="images/GitHub.png" alt="GitHub" title="GitHub" height="32" width="32" />
			</a>
			<br />
			<p>
				A sample MVC client using .NET Core 3.1 to comsume a web
				<a href="https://webapi20200129025509.azurewebsites.net/">API</a>.
			</p>
		</div>
	</div>
</div>
